.img_logo{
    width: 80px;
}
.navbar{
    position: sticky;
}
.x{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.big_title{
    text-align: center;
}

/* media queries pour les boutons et titres  */
@media (max-width: 600px) {
    .x{
        display: flex;
        flex-direction: row;
    }
}


@media (min-width: 800px) {
    .x{
        display: flex;
        flex-direction: row;

    }
}

.img_profile{
    width: 50%;
}

