<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>THE BIG PROJECT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/bootstrap-5.3.0-alpha3-dist/css/bootstrap-grid.css">

</head>

<body>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="x">
            <div class="navbar-header">
              <a href="Home.html">
                <img class="img_logo" src="../img/jujulogo.png" alt="le logo de juju">
              </a>
            </div>
          
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Accueil</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Jeux <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Jeux 1</a></li>
                  <li><a href="#">Jeux 2</a></li>
                </ul>
              </li>

              <li><a href="#">CV</a></li>
              <li><a href="#">Projets</a></li>
              <li><a href="#">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

          </div>

        </div>
      </nav>
    
      <div class="parallax parallax1">
        <div class="container ">
          <h1 class="big_title">Bienvenue sur Le BIG PROJECT ! </h1>
        </div>

        <div class="test">

        </div>
        <div class="container">
          <div class="row">
            <div></div>
            <div class="col-md-6 col-sm-12">
              
            </div>
            <div class="col-md-6 col-sm-12">

            </div>
          </div>
        
        </div>
      </div>

      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>